{{input/md-codelist
  create=true
  label="Reference System Type"
  data-spy="System Type"
  tooltip=true
  icon=false
  disabled=false
  allowClear=true
  showValidations=true
  mdCodeName="referenceSystemType"
  path="refType"
  model=this
  placeholder="Select type of reference system used."
  profilePath=(concat profilePath ".referenceSystemType")
  class=(if (v-get this "isInvalid") "required")
}}

{{#if refSystem}}
  {{#layout/md-card
    collapsible=true
    title="Reference System Identifier"
    data-spy="Identifier"
    required=(v-get this "isInvalid")
    collapsed=false
    shadow=true
    profilePath=(concat profilePath ".referenceSystemIdentifier")
  }}
    {{!-- <label  class={{concat "text-info" (if (v-get this "isInvalid") "
    required")}}>Reference System Identifier</label> --}}

    {{object/md-identifier
      model=model.referenceSystemIdentifier
      profilePath=(concat profilePath ".referenceSystemIdentifier")
      collapsible=true
    }}
  {{/layout/md-card}}
{{/if}}

{{#liquid-unless wktIsNone}}
  {{#layout/md-card
    collapsible=true
    title="Reference System Well Known Text(WKT)"
    data-spy="WKT"
    required=(v-get this "isInvalid")
    block=true
    collapsed=false
    shadow=true
    profilePath=(concat profilePath ".referenceSystemWKT")
  }}
    {{input/md-textarea
      inputClass="form-control md-card-form-control"
      showValidations=true
      valuePath="wkt"
      model=this
      rows=3
      placeholder="Well Known Text (WKT) for spatial reference system."
      class=(if (v-get this "isInvalid") " required")
    }}
  {{/layout/md-card}}
{{else}}
  {{control/md-button
    class="btn btn-lg btn-success"
    text="Add Well Known Text(WKT)"
    icon="plus"
    click=(fn (mut wkt) "")
  }}
{{/liquid-unless}}

{{#if paramSet}}
  {{object/md-srs/parameter
    model=paramSet
    required=(v-get this "isInvalid")
    profilePath=(concat profilePath ".referenceSystemParameterSet")
  }}
{{/if}}

{{yield}}
